.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveLeftIn;
        /* 要跑的動畫名稱 */
        animation-duration: 1.5s;
        /* 動畫完成的秒數 */
        animation-timing-function: ease-out;
        /* 不同的功能 */
        /* animation-delay: 3s;   <-----延遲3秒 */
        /* animation-iteration-count: 3;    <------ 跑3次 */
        @include respond(tab-port) {
            letter-spacing: 3rem;
            font-size: 4.5rem;
        }

        @include respond(phone) {
            letter-spacing: 3rem;
            font-size: 4rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.7rem;
        animation: moveRightIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @include respond(tab-port) {
            letter-spacing: 1rem;
            font-size: 1.7rem;
        }

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 1.5rem;
        }
    }
}

.heading-secondary {
    background-image: linear-gradient(to right, $color-main-light, $color-main-dark);
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.4);
    }
}

.heading-tertiary {
    font-size: $font-default;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: $font-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
